html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
    line-height: 1.25em;
}
p {
    line-height: 1.25em;
}

.wrap {
    height: 100vh;
    display: flex;
}

main {
    flex: 1;
    display: flex;
}

aside, article {
    overflow-y: scroll;
}
aside {
    min-width: 400px;
    flex: 1;
}
article {
    flex: 3;
}
.wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    flex-basis: 100%;
    padding: 24px;
    min-width: 0;
}

#add-color {
    width: 96px;
    color: #fff;
    display: block;
    margin: 36px auto;
    opacity: 0.2;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;

}
#add-color:hover {
    opacity: 0.3;
}

.lightText {
  color: #fff;
}
.darkText {
  color: #1F2D3D;
}


input[type="text"].hex-input {
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  width: 430px;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.3;
  font-size: 72px;
  font-weight: 700;
  background: transparent;
  border: none;
  outline: none;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50%;
  margin: 16px 0;
  display: block;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 3px;
}

input[type=range] {
  height: 3px;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0 solid;
  border-radius: 50%;
  height:15px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: #ffffff;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 0 solid;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: #ffffff;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.white::-webkit-slider-thumb {
  border-color: #eeeeee;
  border-width: 1px;
}

.range.white::-moz-range-thumb {
  border-color: #eeeeee;
  border-width: 1px;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

input[type="text"].hex-input {
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.3;
  font-size: 48px;
  font-weight: 700;
  background: transparent;
  border: none;
  outline: none;
  line-height: 64px;
}

/* Mobile */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    aside, article {
        overflow-y: visible;
    }
}
@media screen and (min-width: 1200px) {
    .column {
        flex: 1;
    }
}

/* Table and below */
@media (max-width: 1200px) {
    article {
        flex: 2;
    }
}

/* TEMPORARY FOR VISUALIZATION */

.color-picker {
    padding: 16px;
    position: relative;
}

input[type="text"].color {
    font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
    display: block;
    margin: auto;
    text-transform: uppercase;
    text-align: right;
    color: #1F2D3D;
    opacity: 0.3;
    font-size: 72px;
    font-weight: 900;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: -18px;
    right: 0;
}

aside {
    background-color: #1d1c25;
}

.text-light {color: #F4F6F7;}
.text-dark {color: #1d1c25;}
.text-yellow {color: #FFBA08;}
.text-blue {color: #3F88C5}
.text-red {color: #D00000}
.text-purple{color: #731963;}

.light {background-color: #F4F6F7;}
.dark {background-color: #1d1c25;}
.yellow {background-color: #FFBA08;}
.blue {background-color: #3F88C5}
.red {background-color: #D00000}
.purple{background-color: #731963;}
