<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Color Picker</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <!--<link rel="stylesheet" href="style.css">-->
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>

<body>
  <div class="wrap">
    <main id="app">
      <aside class="lightText">
        <!-- COLOR PICKERS -->
        <colorpicker v-for="color in colorPickers" v-bind:hexString="color.hexStr" v-bind:id='color.id' v-on:color-change="changeColor"
          v-on:input="console.log($event)"></colorpicker>
        <i id="add-color" class="fa fa-plus-circle fa-6x" @click="addColor()"></i>
      </aside>
      <article>
        <!-- EXAMPLE TEXT PREVIEWS -->
        <div class="row">
          <div class="column" v-bind:style="{ background: backgroundColor1 }">

            <textpreview v-for="color in colorPickers " v-bind:color="color.hexStr " v-bind:title=" textTitle
            " v-bind:body="textBody"></textpreview>
          </div>
          <div class="column" v-bind:style="{ background: backgroundColor2 }">

            <textpreview v-for="color in colorPickers " v-bind:color="color.hexStr " v-bind:title="textTitle" v-bind:body="textBody"></textpreview>
          </div>
        </div>
        <!-- EXAMPLE CHARTS -->
        <div class="row ">
          <div class="column" v-bind:style="{ background: backgroundColor1 }">
            <div class="chart-container ">
              <canvas class="chart" id="myChartLight" width="800 " height="600 "></canvas>
            </div>
          </div>
          <div class="column" v-bind:style="{ background: backgroundColor2 }">
            <div class="chart-container ">
              <canvas class="chart" id="myChartDark" width="800 " height="600 "></canvas>
            </div>
          </div>
        </div>
        <!-- EXAMPLE SYNTAX HIGHLIGHTING -->
        <div class="row ">
          <div class="column" v-bind:style="{ background: backgroundColor1 }">
            <pre><code class="python ">
  def hello(world):
      print("Hello {} ".format(world))
                          </code></pre>
          </div>
          <div class="column" v-bind:style="{ background: backgroundColor2 }">

          </div>
        </div>
      </article>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js "></script>
  <script src="chance.min.js"></script>

  <script src="picker.js "></script>
  <script src="charts.js "></script>

</body>

</html>